.movieDetailImage {
  height: 500px;
  width: auto !important;
}
.movieDetails {
  display: flex;
  flex-direction: column;
}
.cast {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 50px);
  margin-left: 50px;
  justify-content: flex-start;
}
.movieDetailsComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.movieTextDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  align-items: flex-start;
}
.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.movieImageContainer {
  display: flex;
  height: 100%;
  align-self: flex-start;
}
.userRatingDiv {
  display: flex;
  flex-direction: row;
}
