.movieDetailImage {
  height: 500px;
  width: auto !important;
}
.movieDetailsComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.movieTextDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  align-items: flex-start;
}
.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
