/*layout style.css*/
.layout {
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  /* Add any additional styling needed for main content */
}
