.icon {
  display: flex;
  max-width: 50px;
  max-height: 50px;
}

.menu-box {
  margin-left: 10px;
}

.user-box {
  margin-right: 20px;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MuiAutocomplete-root,
.MuiAutocomplete-inputRoot,
.MuiAutocomplete-inputRoot[class*="MuiInput-root"] {
  padding: 0px !important;
  height: 45px;
}
