/* .innerCarouselContainer{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
} */

img{
    height: 150px;
    width: 100px !important;
    border-radius: 7px;
}