.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 15% !important;
  position: sticky; /* Add sticky positioning */
  top: 0; /* Stick to the top */
  z-index: 100;
}
.sidebarCard {
  height: 100%;
  width: 100% !important;
}
.sidebarItem {
  cursor: pointer;
  background-color: white;
  border: 1px solid transparent;
}
.sidebarItem:hover {
  border: 1px solid gray;
}

.sidebarList {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.sidebarLogo {
  width: 32px;
  height: auto;
  cursor: pointer;
}
.sidebarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
