.sidebarContainer{
    height: 100%;
    width: 200px;
}
.sidebarCard{
    height: 100%;
    width: 100%;
   
}
.sidebarItem{
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
}
.sidebarItem:hover{
    border:1px solid gray;
}
