/* sidebar style.css  */
.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 15% !important;
  position: sticky; /* Add sticky positioning */
  top: 1; /* Stick to the top */
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  position: fixed; /* Ensures sidebar is positioned relative to the viewport */
  left: 0;
  height: 100vh; /* Adjust as necessary */
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarCard {
  height: 100%;
  width: 100% !important;
}
.sidebarItem {
  cursor: pointer;
  background-color: white;
  border: 1px solid transparent;
}
.sidebarItem:hover {
  border: 1px solid gray;
}

.sidebarList {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.sidebarLogo {
  width: 32px;
  height: auto;
  cursor: pointer;
}
.sidebarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
