.updateAccountCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.pageContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.updateAccountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.accountCard{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}