.updateAccountCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.updateAccountContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.accountCard{
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}